<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
{% block content %}
<h2>Register</h2>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.username.label }} {{ form.username(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.password.label }} {{ form.password(class="form-control") }}
  </div>
  {{ form.submit(class="btn btn-success") }}
  <a href="{{ url_for('login') }}" class="btn btn-link">Already have an account? Login</a>
</form>
{% endblock %}

</body>
</html>